<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/Style/style.css">
    <link rel="stylesheet" href="/Style/HomePage.css">
    <title>Book Viewer</title>
  </head>
  <body>
    <header>
      <nav class="Home-nav">
        <ul>
            <li><a class="nav-btn" href="/">Homepage</a></li>
            <li><a class="nav-btn" href="#">Books</a></li>
            <li><a class="nav-btn" href="#about-us">About us</a></li>
            <li><a class="nav-btn" href="#">Contact us</a></li>
        </ul>
    </nav>
    </header>
    <div class="container">
      <% books.forEach(book => { %>
        <div class="card">
          <img src="<%= book.picture %>" alt="<%= book.title %>">
          <h2><%= book.title %></h2>
          <p>Author: <%= book.author %></p>
          <p>Publisher: <%= book.publisher %></p>
          <p><a href="<%='/view/' + book.id %>" class="btn btn-edit">view</a></p>
          <% if (isAdmin) { %>
            <a href="<%='/update/' + book.id %>" class="btn btn-edit">Edit</a>
            <a href="<%='/delete/' + book.id %>" class="btn btn-edit">Delete</a>
          <% } %>
        </div>
        <input type="hidden" name="id" value="<%=book.id%>">
      <% }); %>
      <% if (isAdmin) { %>
        <a href="/add" class="btn btn-primary">Add Book</a>
      <% } %>
    </div>
    <footer>
      <div class="container2">
          <div class="row">
              <div class="col">
                  <ul class="footer-nav">
                      <li><a href="#">Contact us</a></li>
                      <li><a href="#">Press</a></li>
                      <li><a href="#">iOS App</a></li>
                      <li><a href="#">Android App</a></li>
                  </ul>
              </div>
              <div class="col">
                  <ul class="social-links">
                      <li><a href="#"><i class="bi bi-twitter"></i></i></a></li>
                      <li><a href="#"><i class="bi bi-facebook"></i></i></a></li>
                      <li><a href="#"><i class="bi bi-instagram"></i></i></a></li>
                      <li><a href="#"><i class="bi bi-whatsapp"></i></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>

  </body>
</html>
